.row
	.small-12.medium-12.text-center.columns
		%h1
			= "Sign In"
.row
	- flash.each do |key,value|
		.small-12.medium-12.text-center.columns
			= value
.row
	.small-6.medium-6.small-centered.columns
		= form_for :user, :url => sign_in_path do |f|
			= f.label :email
			= f.text_field :email
			= f.label :password
			= f.password_field :password
			= f.submit "Login", :class => "small button radius"
